<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TechGirls"
        tools:targetApi="31" >

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/data_extraction_rules" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Pages.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.TechGirls" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pages.RegisterPage" />
        <activity android:name=".Pages.LoginPage" />
        <activity android:name=".Pages.MainPage" />
        <activity android:name=".Pages.UploadActivity" />
        <activity android:name=".Pages.NewsActivity" />
        <activity android:name=".Pages.SettingsPage" />
        <activity android:name=".Pages.NewsUpdate" />
        <activity android:name=".Pages.SettingsUser"/>
        <activity android:name=".Pages.AboutAppPage"/>
        <activity android:name=".Pages.SectionsActivity"/>
        <activity android:name=".Pages.HelpCenterPage"/>
        <activity android:name=".Pages.EmailVerificationPage"/>
    </application>

</manifest>